<!DOCTYPE html>
<html>
<head>
    <title>Admin Page</title>
</head>
<body>
    <h1>Admin Page</h1>
    <form action="/admin" method="POST">
        <select name="option">
            <option value="promote">Promover a admin</option>
            <option value="exit">Sair</option>
        </select>
        <input type="submit" value="Submit">
    </form>
</body>
</html>