<form action="/createItem" method="POST">
    <label for="nome">Nome:</label><br>
    <input type="text" id="nome" name="nome"><br>
    <label for="descricao">Descrição:</label><br>
    <input type="text" id="descricao" name="descricao"><br>
    <label for="preco">Preço:</label><br>
    <input type="text" id="preco" name="preco"><br>
    <input type="submit" value="Criar Item">
</form>
