<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta rf="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <div class="Header">
        <div class="Logo">
          Gear<span class="gear">&#9881;</span>uester
        </div>
        <div class="Icones">
          <div class="HelpDesk">
            <p id="chat">&#128172;</p>
            <a href="">
              <p>Central de Atendimento↓</p>
            </a>
          </div>
          <div class="Perfil">
            <div id="container_texto">
              <p>Deseja iniciar uma sessao?</p> 
            </div>
            <div id="container_perfil">
              <button class="btn" onclick="location.href='/login'">Entrar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="SideBar">
        <a href="/">Home</a>
      <a href="/servico">Serviços</a>
      <a href="/sobreNos">Sobre nós</a>
      <a href="/contato">Contatos</a>
    </div>
      <div class="SideBar_equipaments">
          <a href="#">Switch</a>
          <a href="#">Servidor</a>
          <a href="#">Access Point</a>
          <a href="#">Firewall</a>
      </div>

      <div class="container_conteudo">
            <div class="apresentacao">
                <div class="container_apresentacao">
                    <h6>Quem somos</h6>
                    <h1>Conheça o GearQuester</h1>
                    <p>Contamos com pesquisas precisas de equipamentos para você</p>
                    <a type="button" value="Saiba mais" id="button-apresentacao" href="homeSaibaMais.ejs">Saiba mais</a>
                </div>
            </div>
            <div class="apresentacao_imagem">
                <div class="imagem_apresentacao">
                    <img src="https://scansource.com.br/wp-content/webp-express/webp-images/uploads/2024/03/A4893-Banner-Chamada-para-estoque-LenovoISG.png.webp">
                </div>
            </div>
      </div>


<div class="solutions-section">
    <h3>As melhores soluções em tecnologia</h3>
    <p>O mercado de TI está em constante evolução e nosso objetivo principal é fazer a sua empresa crescer ainda mais e, por isso, te ajudamos a enconontrar tecnologias desde aquelas baseadas em nuvem até soluções sem fio e de rede.</p>
    
    <div class="solutions-container">
        <div class="solution-item">
            <div class="icon-container">
                <img src="https://static.thenounproject.com/png/4415646-200.png" alt="Ícone de Access Point" />
            </div>
            <h4>Access Point</h4>
            <p>Conectividade sem fio robusta e confiável, projetada para suportar uma ampla gama de dispositivos.</p>
            <button class="learn-more-btn">Saiba mais</button>
        </div>
        <div class="solution-item">
            <div class="icon-container">
                <img src="https://cdn-icons-png.flaticon.com/512/4116/4116938.png" alt="Ícone de Servidor" />
            </div>
            <h4>Servidor</h4>
            <p>Soluções de servidor escaláveis que crescem com o seu negócio, assegurando eficiência e desempenho.</p>
            <button class="learn-more-btn">Saiba mais</button>
        </div>
        <div class="solution-item">
            <div class="icon-container">
                <img src="https://cdn-icons-png.flaticon.com/512/1089/1089006.png" alt="Ícone de Switch" />
            </div>
            <h4>Switch</h4>
            <p>Switches de rede que formam a espinha dorsal de sua infraestrutura de TI, oferecendo velocidade e segurança.</p>
            <button class="learn-more-btn">Saiba mais</button>
        </div>
        <div class="solution-item">
            <div class="icon-container">
                <img src="https://cdn-icons-png.flaticon.com/512/978/978063.png" alt="Ícone de Rede" />
            </div>
            <h4>Redes e Infraestrutura</h4>
            <p>Aumente a flexibilidade e o dimensionamento com hardware e software integrados em uma única plataforma.</p>
            <button class="learn-more-btn">Saiba mais</button>
        </div>    
    </div>
</div>  
<p class="brand-presentation">Conheça algumas marcas com as quais trabalhamos.</p>
        <div class="carousel-container">
  <button class="carousel-button prev" onclick="moveSlide(-1)">&#10094;</button>
  <div class="carousel-slide">  
    <div class="item">
      <a href="https://www.lenovo.com" target="_blank">
        <img src="https://registrodemarca.arenamarcas.com.br/wp-content/uploads/2020/05/lenovo-logo.png" alt="lenovo" id="lenovoIcon">
      </a>
    </div>
    <div class="item">
      <a href="https://www.hitachi.com" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/b/be/Hitachi_Logo_with_symbol.svg" alt="hitachi">
      </a>
    </div>
    <div class="item">
      <a href="https://www.al-enterprise.com" target="_blank">
        <img src="https://web-assets.al-enterprise.com/-/media/assets/internet/images/al-enterprise-primary-horizontal-rgb-logo.png?v=1&d=20230220T160823Z" alt="alcatel" id="alcatelIcon">
      </a>
    </div>
    <div class="item">
      <a href="https://www.cisco.com" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Cisco_logo_blue_2016.svg/1024px-Cisco_logo_blue_2016.svg.png" alt="cisco">
      </a>
    </div>
    <div class="item">
      <a href="https://www.dell.com" target="_blank">
        <img src="https://cdn.icon-icons.com/icons2/2699/PNG/512/dell_logo_icon_168288.png" alt="dell">
      </a>
    </div>
 
  </div> 
  <button class="carousel-button next" onclick="moveSlide(1)">&#10095;</button>
</div>

            <button class="carousel-button next" onclick="moveSlide(1)">&#10095;</button>
        
      </div>
<div class="faq-container">
    <div class="container">
        <h2>Tire suas dúvidas</h2>
        <h3>Perguntas mais frequentes</h3>
        <p>Separamos algumas perguntas e respostas que podem te ajudar na sua decisão</p>
        <div class="faq-list">
            <div class="faq-item">
                <div class="container_faq">
                    <div class="imagem"><img src="https://cdn-icons-png.flaticon.com/128/4415/4415839.png" alt="Duvida" class="icon"></div>
                    <div class="faq_texto">
                        <h4>Dúvidas?</h4>
                        <p>Envie uma mensagem para nosso time</p>
                    </div>
                </div>
            </div>
            <div class="faq-item">
                <div class="container_faq">
                    <div class="imagem"><img src="https://cdn-icons-png.flaticon.com/128/1786/1786971.png   " alt="logo" class="icon"></div>
                    <div class="faq_texto">
                        <h4>Faça parte</h4>
                        <p>Cadastre-se para transformar sua empresa</p>
                    </div>
                </div>
            </div>
            <div class="faq-item">
                <div class="container_faq">
                    <div class="imagem">
                        <img src="https://cdn-icons-png.flaticon.com/128/160/160200.png" alt="WhatsApp" class="icon">
                    </div>
                    <div class="faq_texto">
                        <h4>WhatsApp de pós-venda</h4>
                        <p>Fale com o nosso time</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="faq-questions">
        <div class="question-item">
            <h4>01 Como se tornar um parceiro?</h4>
            <button>+</button>
        </div>
        <div class="question-item">
            <h4>02 Como faço para pesquisar equipamentos?</h4>
            <button>+</button>
        </div>
        <div class="question-item">
            <h4>03 Essas informações são 100% precisas?</h4>
            <button>+</button>
        </div>
        <div class="question-item">
            <h4>04 Como faço para poder pedir cotação dos equipamentos?</h4>
            <button>+</button>
        </div>
    </div>
</div>
    

    <div class="footer">
        <div class="column-apresentation">
          <div class="Logo_footer">
            Gear<span class="gear">&#9881;</span>uester
          </div>
          <div class="text-apresentation"> 
            <p>GearQuester é a sua fonte confiável para os mais avançados equipamentos</p> 
          </div>
        </div>
  
        <div class="links">
          <a href="/home">Home</a>
          <a href="#">Serviços</a>
          <a href="#">Sobre nós</a>
          <a href="#">Contatos</a>
          <a href="/adminlogin">Administracao</a>
          
        </div>
      </div>


</body>
</html>