<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta rf="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/homeSaibaMais.css">
</head>
<body>
    <div class="Header">
        <div class="Logo">
          Gear<span class="gear">&#9881;</span>uester
        </div>
        <div class="Icones">
          <div class="HelpDesk">
            <p id="chat">&#128172;</p>
            <a href="">
              <p>Central de Atendimento↓</p>
            </a>
          </div>
          <div class="Perfil">
            <div id="container_texto">
              <p>Deseja iniciar uma sessao?</p> 
            </div>
            <div id="container_perfil">
              <button class="btn" onclick="location.href='/login'">Entrar</button>
            </div>
          </div>
        </div>
    </div>
    <div class="SideBar">
        <a href="/home">Home</a>
      <a href="/servico">Serviços</a>
      <a href="/sobreNos">Sobre nós</a>
      <a href="/contato">Contatos</a>
    </div>
      <div class="SideBar_equipaments">
          <a href="#">Switch</a>
          <a href="#">Servidor</a>
          <a href="#">Access Point</a>
          <a href="#">Firewall</a>
      </div>
      <a href="/home" id="voltar"> <span></span> Voltar para: Tela principal</a>
      <div class="content">
        <h1 id="titulo">PESQUISA DE ITENS RELACIONADOS A TECNOLOGIA DA INFORMAÇÃO.</h1>
        
        <div class="cards">
          <div class="cardInfo" id="letra">
            <div class="imagem">
              <img src="https://portalfns.saude.gov.br/wp-content/uploads/2020/10/PESQ_NOME-140x140.png" alt="pesquisaTexo">
            </div>
            <div class="Texto">
              <div class="cabecalho">
                <h1>Pesquisa por nome</h1>
              </div>
              <div class="InfoText">
                <p>Obtenha acesso às informações de cada um dos equipamentos e materiais, como definição, especificação técnica, valores, e características que precisam ser descritas para o cadastro de proposta.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cards">
        <div class="cardInfo">
          <div class="imagem">
            <img src="https://portalfns.saude.gov.br/wp-content/uploads/2020/10/PESQ_ESTRAT-273x290.png" alt="pesquisaTexo">
          </div>
          <div class="Texto">
            <div class="cabecalho">
              <h1>Pesquisa por Programa Estratégico - Componente</h1>
            </div>
            <div class="InfoText">
              <p>Obtenha a lista de equipamentos e materiais atraves das especificações descritas do equipamento.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cards">
      <div class="cardInfo">
        <div class="imagem">
          <img src="https://portalfns.saude.gov.br/wp-content/uploads/2020/10/PESQ_AMB-273x290.png" alt="pesquisaTexo">
        </div>
        <div class="Texto">
          <div class="cabecalho">
            <h1>Pesquisa por marca</h1>
          </div>
          <div class="InfoText">
            <p>Obtenha acesso às informações de cada um dos equipamentos e materiais, com base na marca escollhida pelo cliente.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="footer">
        <div class="column-apresentation">
          <div class="Logo_footer">
            Gear<span class="gear">&#9881;</span>uester
          </div>
          <div class="text-apresentation"> 
            <p>GearQuester é a sua fonte confiável para os mais avançados equipamentos</p> 
          </div>
        </div>
  
        <div class="links">
          <a href="/home">Home</a>
          <a href="#">Serviços</a>
          <a href="#">Sobre nós</a>
          <a href="#">Contatos</a>
          <a href="/adminlogin">Administracao</a>
          
        </div>
      </div>


</body>
</html>