<!DOCTYPE html>
<html>

<head>
    <title>Informações do Usuário</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/infos.css">
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <!-- Navegação vertical -->
            <div class="col-md-2">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="/profile" role="tab"
                        aria-controls="v-pills-profile" aria-selected="false">Perfil</a>
                    <a class="nav-link" id="v-pills-history-tab" data-toggle="pill" href="/history" role="tab"
                        aria-controls="v-pills-history" aria-selected="false">Histórico</a>
                    <a class="nav-link active" id="v-pills-settings-tab" data-toggle="pill" href="/infos" role="tab"
                        aria-controls="v-pills-settings" aria-selected="true">Informações</a>
                </div>
            </div>

            <!-- Conteúdo principal -->
            <div class="col-md-10">
                <!-- Box de boas-vindas -->
                <div class="jumbotron text-center">
                    <h1 class="display-5">Informações Pessoais!</h1>
                </div>
                <!-- Infos do Usuario -->
                <form>
                    <div class="form-group mt-5">
                        <label for="name">Nome de usuário</label>
                        <input type="text" class="form-control" id="name" value="<%= name %>" readonly>
                    </div>
                    <div class="form-group">
                        <label for="cpf">CPF</label>
                        <input type="text" class="form-control" id="cpf" value="<%= cpf %>" readonly>
                    </div>
                    <div class="form-group">
                        <label for="rf">RF</label>
                        <input type="text" class="form-control" id="rf" value="<%= rf %>" readonly>
                    </div>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#passwordModal">
                        Deseja trocar a senha?
                    </button>
                </form>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="passwordModalLabel">Trocar senha</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="passwordForm">
                                <input type="hidden" id="rfModal" value="<%= rf %>">
                                <div class="form-group">
                                    <label for="oldPassword">Senha atual</label>
                                    <input type="password" class="form-control" id="oldPassword"
                                        autocomplete="current-password" required>
                                </div>
                                <div class="form-group">
                                    <label for="newPassword">Nova senha</label>
                                    <input type="password" class="form-control" id="newPassword"
                                        autocomplete="new-password" required>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-primary" onclick="changePassword()">Salvar
                                mudanças</button>
                        </div>
                    </div>
                </div>
            </div>


            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script>
                function changePassword() {
                    const rf = $('#rfModal').val();
                    const oldPassword = $('#oldPassword').val();
                    const newPassword = $('#newPassword').val();

                    $.ajax({
                        url: '/change-password',
                        type: 'POST',
                        data: {
                            rf,
                            oldPassword,
                            newPassword
                        },
                        success: function (data) {
                            alert(data.message);
                            $('#passwordModal').modal('hide');
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(jqXHR.responseJSON.error);
                        }
                    });
                }
            </script>

            <script>
                document.getElementById('v-pills-history-tab').addEventListener('click', function () {
                    window.location.href = '/history';
                });
            </script>
            <script>
                document.getElementById('v-pills-profile-tab').addEventListener('click', function () {
                    window.location.href = '/profile';
                });
            </script>



</body>

</html>