<!DOCTYPE html>
<html>
<head>
    <title>Informações do Usuário</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Informações do Usuário</h1>
        <form>
            <div class="form-group">
                <label for="username">Nome de usuário</label>
                <input type="text" class="form-control" id="name" value="<%= name %>" readonly>
            </div>
            <div class="form-group">
                <label for="cpf">CPF</label>
                <input type="cpf" class="form-control" id="cpf" value="<%= cpf %>" readonly>
            </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#passwordModal">
                Trocar senha
            </button>
        </form>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="passwordModalLabel">Trocar senha</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="passwordForm">
                        <div class="form-group">
                            <label for="oldPassword">Senha atual</label>
                            <input type="password" class="form-control" id="oldPassword" required>
                        </div>
                        <div class="form-group">
                            <label for="newPassword">Nova senha</label>
                            <input type="password" class="form-control" id="newPassword" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" onclick="changePassword()">Salvar mudanças</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/changePassword.js"></script>
</body>
</html>
