<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta rf="viewport" content="width=device-width, initial-scale=1.0">
    <title>GearQuester</title>
    <link rel="icon" href="/icone.jpg">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/login.css">
</head>
<body>
  <div class="teste">
    
  </div>
  <div class="Header">
    <div class="Logo">
      Gear<span class="gear">&#9881;</span>uester
    </div>
    <div class="Icones">
      <div class="HelpDesk">
        <p id="chat">&#128172;</p>
        <a href="">
          <p>Central de Atendimento↓</p>
        </a>
      </div>
      <div class="Perfil">
        <div id="container_texto">
          <p>Bem vindo(a)</p> 
        </div>
        <div id="container_perfil">
          <a class="link" href="#">Entrar </a> <p> ou </p><a class="link" href="/signup">Cadastrar↓</a>
        </div>
      </div>
    </div>
  </div>
  <div class="SideBar">
  <a href="#">Home</a>
  <a href="#">Serviços</a>
  <a href="#">Sobre nós</a>
  <a href="#">Contatos</a>
</div>
  <div class="SideBar_equipaments">
      <a href="#">Switch</a>
      <a href="#">Servidor</a>
      <a href="#">Access Point</a>
      <a href="#">Firewall</a>
  </div>

  <div class="container_conteudo">
    <div class="form-container">
        <h2>Entrar</h2>
        <form action="/login" method="post">

          <div class="form_group_rf">
            <label for="rf">RF:</label></br>
            <input type="text" id="rf" name="rf" placeholder="Digite seu RF" required autocomplete="on">
          </div>

          <div class="form_group_password">
            <label for="password">Senha:</label></br>
            <input type="password" id="password" name="password" placeholder="Digite sua senha" required>
          </div>
          <div id="messageContainer"></div>
          <button type="submit" class="submit-btn">Login</button>
        </form>
      </div>
  </div>
    
  <div class="footer">
      <div class="column-apresentation">
        <div class="Logo_footer">
          Gear<span class="gear">&#9881;</span>uester
        </div>
        <div class="text-apresentation"> 
          <p>GearQuester é a sua fonte confiável para os mais avançados equipamentos</p> 
        </div>
      </div>

      <div class="links">
        <a href="#">Home</a>
        <a href="#">Serviços</a>
        <a href="#">Sobre nós</a>
        <a href="#">Contatos</a>
      </div>
    </div>
    <script>
      document.getElementById('loginForm').addEventListener('submit', function(event) {
        event.preventDefault();

        const data = {
            rf: document.getElementById('rf').value,
            password: document.getElementById('password').value,
        };

        fetch('/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
            const messageContainer = document.getElementById('messageContainer');
            if (data.redirectURL) {
                window.location.href = data.redirectURL;
            } else if (data.message) {
                messageContainer.textContent = data.message; 
            }
        })
        .catch((error) => {
            console.error('Error:', error);
            document.getElementById('messageContainer').textContent = 'Ocorreu um erro durante o login.';
        });
      });
    </script>
</body>
</html>