<!DOCTYPE html>
<html>
<head>
    <title>Make Admin</title>
</head>
<body>
    <h1>Promover usuário a administrador</h1>
    <form action="/makeAdmin" method="post">
        <label for="rf">RF:</label><br>
        <input type="text" id="rf" name="rf"><br>
        <input type="submit" value="Promover a administrador">
    </form>
</body>
</html>
