<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Seu App</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/menu.css">
</head>
<body>
    <div class="container">
        <h1>Seu App</h1>
        <div class="d-flex flex-column">
            <a href="/createitem" class="btn btn-primary mb-3">Criar um novo item</a>
            <a href="/makeAdmin" class="btn btn-secondary mb-3">Promover um usuário a administrador</a>
            <a href="/ecommerce" class="btn btn-secondary mb-3">Lista de Itens</a>
            <a href="/home" class="btn btn-danger">Sair</a>
        </div>
    </div>

    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>

