<form action="/menu" method="POST">
    <select name="action">
        <option value="Criar um novo item">Criar um novo item</option>
        <option value="Promover um usuário a administrador">Promover um usuário a administrador</option>
        <option value="Sair">Sair</option>
    </select>
    <input type="submit" value="Enviar">
</form>
