<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta rf="viewport" content="width=device-width, initial-scale=1.0">
    <title>GearQuester</title>
    <link rel="icon" href="/icone.jpg">
    <link rel="stylesheet" href="/recoverPassword.css">
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
  <div class="teste">
    
  </div>
  <div class="Header">
    <div class="Logo">
      Gear<span class="gear">&#9881;</span>uester
    </div>
    <div class="Icones">
      <div class="HelpDesk">
        <p id="chat">&#128172;</p>
        <a href="">
          <p>Central de Atendimento↓</p>
        </a>
      </div>
      <div class="Perfil">
        <div id="container_texto">
          <p>Ainda nao possui cadastro?</p> 
        </div>
        <div id="container_perfil">
          <button class="btn" onclick="location.href='/signup'">Cadastre-se</button>
        </div>
      </div>
    </div>
  </div>
  <div class="SideBar">
    <a href="/home">Home</a>
  <a href="/servico">Serviços</a>
  <a href="/sobreNos">Sobre nós</a>
  <a href="/contato">Contatos</a>
</div>
  <div class="SideBar_equipaments">
      <a href="#">Switch</a>
      <a href="#">Servidor</a>
      <a href="#">Access Point</a>
      <a href="#">Firewall</a>
  </div>

    <div class="container">
        <div class="logo2">
            Gear<span class="gear">&#9881;</span>uester
        </div>

        <div class="informações">
            <h1>Não consegue acessar sua conta?</h1>
            <p>Para a recuperação da sua senha, por-favor digite seu E-mail.</p>
            <input type="email" id="email" name="email" placeholder="Digite seu e-mail">
            <button type="submit" class="submit-btn" onclick="recoverPassword()">Cadastrar</button>
        </div>
    </div>

  <div class="footer">
      <div class="column-apresentation">
        <div class="Logo_footer">
          Gear<span class="gear">&#9881;</span>uester
        </div>
        <div class="text-apresentation"> 
          <p>GearQuester é a sua fonte confiável para os mais avançados equipamentos</p> 
        </div>
      </div>

      <div class="links">
        <a href="/home">Home</a>
        <a href="#">Serviços</a>
        <a href="#">Sobre nós</a>
        <a href="#">Contatos</a>
        <a href="/adminlogin">Administracao</a>
      </div>
    </div>
    <script>
      
    </script>
</body>
</html>