<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GearQuester - Encontre Equipamentos Facilmente</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/servico.css">
</head>
<body>
    <div class="Header">
        <div class="Logo">
          Gear<span class="gear">&#9881;</span>uester
        </div>
        <div class="Icones">
          <div class="HelpDesk">
            <p id="chat">&#128172;</p>
            <a href="">
              <p>Central de Atendimento↓</p>
            </a>
          </div>
          <div class="Perfil">
            <div id="container_texto">
              <p>Deseja iniciar uma sessao?</p> 
            </div>
            <div id="container_perfil">
              <button class="btn" onclick="location.href='/login'">Entrar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="SideBar">
        <a href="/home">Home</a>
      <a href="/servico">Serviços</a>
      <a href="/sobreNos">Sobre nós</a>
      <a href="/contato">Contatos</a>
    </div>
      <div class="SideBar_equipaments">
          <a href="#">Switch</a>
          <a href="#">Servidor</a>
          <a href="#">Access Point</a>
          <a href="#">Firewall</a>
      </div>
    <div class="content-area">
        <!-- Seção de Serviços -->
        <section class="services-section">
            <h2>Nossos Serviços</h2>
            <div class="services-container">
                <div class="service-item">
                    <img src="/img/DALL·E 2024-04-26 18.21.58 - A conceptual image symbolizing price checking in a blue theme. The image features an abstract design with a large magnifying glass centered over a bar.webp" alt="Imagem do Serviço">
                    <h3>Consulta Detalhada</h3>
                    <p>Busque por produtos usando filtros específicos como marca, modelo, e especificações técnicas.</p>
                </div>
                <div class="service-item">
                    <img src="/img/comparação.webp" alt="Imagem do Serviço">
                    <h3>Comparação de Produtos</h3>
                    <p>Compare características técnicas e preços para garantir a melhor escolha para suas necessidades.</p>
                </div>
                <div class="service-item">
                    <img src="/img/tecnico.webp" alt="Imagem do Serviço">
                    <h3>Suporte Técnico</h3>
                    <p>Nossa equipe está pronta para auxiliar na seleção e esclarecer dúvidas sobre os produtos.</p>
                </div>
            </div>
        </section>
    </div>

    
    <div class="footer">
        <div class="column-apresentation">
          <div class="Logo_footer">
            Gear<span class="gear">&#9881;</span>uester
          </div>
          <div class="text-apresentation"> 
            <p>GearQuester é a sua fonte confiável para os mais avançados equipamentos</p> 
          </div>
        </div>
  
        <div class="links">
          <a href="/home">Home</a>
          <a href="#">Serviços</a>
          <a href="#">Sobre nós</a>
          <a href="#">Contatos</a>
          <a href="/adminlogin">Administracao</a>
          
        </div>
      </div>

</body>
</html>
