<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta rf="viewport" content="width=device-width, initial-scale=1.0">
    <title>GearQuester</title>
    <link rel="stylesheet" href="/signup.css">
</head>
<body>
  <div class="Header">
    <div class="Logo">
      Gear<span class="gear">&#9881;</span>uester
    </div>
    <div class="Icones">
      <div class="HelpDesk">
        <p id="chat">&#128172;</p>
        <a href="">
          <p>Central de Atendimento↓</p>
        </a>
      </div>
      <div class="Perfil">
        <div id="container_texto">
          <p>Bem vindo(a)</p> 
        </div>
        <div id="container_perfil">
          <a class="link" href="/">Entrar </a> <p> ou </p><a class="link" href="/signup">Cadastrar↓</a>
        </div>
      </div>
    </div>
  </div>
  <div class="SideBar">
  <a href="#">Home</a>
  <a href="#">Serviços</a>
  <a href="#">Sobre nós</a>
  <a href="#">Contatos</a>
</div>
  <div class="SideBar_equipaments">
      <a href="#">Switch</a>
      <a href="#">Servidor</a>
      <a href="#">Access Point</a>
      <a href="#">Firewall</a>
  </div>
    <div class="container_conteudo">
      <div class="form-container">
          <h2>Cadastrar </h2>
          <form id="signupForm">
            <div class="container1">
              <div class="form-group">
                <label for="rf">RF:</label>
                <input type="text" id="rf" name="rf" placeholder="Enter your RF" required autocomplete="off" required>
              </div>
              <div class="form-group">
                <label for="name">Full Name:</label>
                <input type="text" id="name" name="name" placeholder="Full Name" required>
              </div>
              <div class="form-group">
                <label for="cpf">Cpf:</label>
                <input type="cpf" id="cpf" name="cpf" placeholder="CPF" required>
              </div>
            </div>
            
            <div class="container2">
              <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Password" required>
              </div>
              <div class="form-group">
                <label for="authenticPassword">Authentic Password:</label>
                <input type="password" id="authenticPassword" name="authenticPassword" placeholder="Authentic Password" required>
              </div>
            </div>
            <button type="submit" class="submit-btn">Cadastrar</button>
          </form>
          <div id="messageContainer"></div>
        </div>
    </div>
      <div class="footer">
        <div class="column-apresentation">
          <div class="Logo_footer">
            Gear<span class="gear">&#9881;</span>uester
          </div>
          <div class="text-apresentation"> 
            <p>GearQuester é a sua fonte confiável para os mais avançados equipamentos</p> 
          </div>
        </div>
  
        <div class="links">
          <a href="#">Home</a>
          <a href="#">Serviços</a>
          <a href="#">Sobre nós</a>
          <a href="#">Contatos</a>
        </div>
      </div>

      <script>
        document.getElementById('signupForm').addEventListener('submit', function(event) {
            event.preventDefault();

            const data = {
                rf: document.getElementById('rf').value,
                name: document.getElementById('name').value, 
                cpf: document.getElementById('cpf').value,
                password: document.getElementById('password').value,
                authenticPassword: document.getElementById('authenticPassword').value, 
            };

            fetch('/signup', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(data => {
                const messageContainer = document.getElementById('messageContainer');
                if (data.message) {
                    messageContainer.textContent = data.message; 
                }
            })
            .catch((error) => {
                console.error('Error:', error);
                document.getElementById('messageContainer').textContent = 'Ocorreu um erro durante o cadastro.';
            });
        });
    </script>

</body>
</html>
