<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GearQuester - Encontre Equipamentos Facilmente</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/sobreNos.css">
</head>
<body>
    <div class="Header">
        <div class="Logo">
          Gear<span class="gear">&#9881;</span>uester
        </div>
        <div class="Icones">
          <div class="HelpDesk">
            <p id="chat">&#128172;</p>
            <a href="">
              <p>Central de Atendimento↓</p>
            </a>
          </div>
          <div class="Perfil">
            <div id="container_texto">
              <p>Deseja iniciar uma sessao?</p> 
            </div>
            <div id="container_perfil">
              <button class="btn" onclick="location.href='/login'">Entrar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="SideBar">
        <a href="/home">Home</a>
      <a href="/servico">Serviços</a>
      <a href="/sobreNos">Sobre nós</a>
      <a href="/contato">Contatos</a>
    </div>
      <div class="SideBar_equipaments">
          <a href="#">Switch</a>
          <a href="#">Servidor</a>
          <a href="#">Access Point</a>
          <a href="#">Firewall</a>
      </div>

    <div class="content-area">
        <section class="intro">
            <h1>Bem-vindo à GearQuester</h1>
            <p>No GearQuester, oferecemos uma plataforma robusta que permite a você encontrar rapidamente produtos de TI que não apenas atendam, mas superem suas expectativas de performance e confiabilidade. Nossa ferramenta de busca utiliza especificações técnicas detalhadas para assegurar que cada recomendação seja precisa e relevante para suas necessidades específicas.

              Seja você um administrador de sistemas em busca de servidores avançados, um gestor de TI procurando atualizar a infraestrutura de rede com switches e roteadores de última geração, ou uma empresa necessitando de soluções de armazenamento seguras e escaláveis, o GearQuester está aqui para facilitar sua busca com eficiência e precisão.
              
              Convido-o a explorar nossa plataforma e descobrir como podemos ajudá-lo a simplificar suas decisões de compra de hardware de TI. Acreditamos que uma boa tecnologia começa com as escolhas certas, e no GearQuester, garantimos que você tenha as melhores opções ao seu alcance.</p>
        </section>
        
        <section class="services">
            <h2>Nossos Serviços</h2>
            <div class="service">
                <h3>Encontre o que desejar.</h3>
                <p>No GearQuester, oferecemos um serviço exclusivo de busca personalizada de equipamentos de TI que se adapta às suas necessidades específicas. Utilizando um algoritmo avançado, nosso sistema filtra através de milhares de produtos para fornecer recomendações precisas baseadas em suas especificações técnicas detalhadas. Desde servidores de alta capacidade até workstations personalizadas, garantimos que você encontre exatamente o que precisa para maximizar a eficiência e a performance do seu ambiente de TI.</p>
            </div>
            <div class="service">
                <h3>Qual o melhor?</h3>
                <p>GearQuester, a comparação de produtos de TI nunca foi tão fácil. Nosso serviço permite que você compare as especificações técnicas, preços e avaliações de uma vasta gama de hardware e dispositivos de TI. Nossa interface intuitiva ajuda a visualizar as diferenças entre as opções, facilitando a tomada de decisões informadas. Se você está escolhendo entre modelos de routers, switches ou qualquer outro hardware, o GearQuester lhe proporciona todas as informações necessárias para fazer a escolha certa.</p>
            </div>
            <div class="service">
                <h3>Ajuda especializada</h3>
                <p>GearQuester oferece consultoria especializada em TI. Nossa equipe de especialistas está pronta para ajudar você a planejar e implementar soluções tecnológicas que se alinhem com os objetivos estratégicos da sua empresa. Desde a seleção do hardware até a otimização da sua infraestrutura de TI, fornecemos suporte contínuo para garantir que sua tecnologia esteja sempre atualizada e funcionando perfeitamente.</p>
            </div>
        </section>

        <section class="cta">
            <h2>Pronto para encontrar o equipamento perfeito?</h2>
            <button onclick="location.href='/search'">Iniciar Busca</button>
        </section>
    </div>

    <div class="footer">
        <div class="column-apresentation">
          <div class="Logo_footer">
            Gear<span class="gear">&#9881;</span>uester
          </div>
          <div class="text-apresentation"> 
            <p>GearQuester é a sua fonte confiável para os mais avançados equipamentos</p> 
          </div>
        </div>
  
        <div class="links">
          <a href="/home">Home</a>
          <a href="#">Serviços</a>
          <a href="#">Sobre nós</a>
          <a href="#">Contatos</a>
          <a href="/adminlogin">Administracao</a>
        </div>
      </div>
</body>
</html>
