body {
    background-image: url('img/wpprofile.jpg');
    background-repeat: no-repeat; /* A imagem não se repetirá */
    background-position: center; /* A imagem será centralizada */
    background-size: cover; /* A imagem cobrirá todo o corpo */
    font-family: Arial, sans-serif;
    min-height: 100vh; /* Nova linha adicionada */
}


.container {
    /* Adiciona um fundo branco ao container principal para destacá-lo */
    background-color: #ffffff;

    /* Adiciona uma borda ao redor do container principal */
    border: 1px solid #ddd;

    /* Adiciona algum espaço ao redor do container principal */
    margin: 20px auto;

    /* Adiciona algum preenchimento dentro do container principal */
    padding: 20px;

    border-radius: 10px;
    max-width: 960px;
    margin: auto;
}


.table-container {
    overflow: hidden;
}

.table-scroll {
    max-height:400px;
    overflow-y:auto;
    overflow-x:auto;
    display:block;
    width: 100%;
}

/* Definir a largura das células da tabela */
.table-scroll th, .table-scroll td {
    width: 25%;
    padding: 12px 15px;
    border-bottom: 1px solid #aca2a2;
}

.table-scroll th:last-child, .table-scroll td:last-child {
    padding-right: 17px;
}

.table th {
    background-color: #2c2c2c;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.table td {
    transition: all .3s;
}

.table td:hover {
    background-color: #f2f2f2;
}


.sticky-header {
    position: sticky;
    top: 0;
    background-color: #fff; /* Cor de fundo do cabeçalho */
    z-index: 100;
}

/* Estilo para a barra de busca */
#search {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

/* Estilo para o seletor de colunas */
#column-selector {
    width: 100%;
    font-size: 16px;
    padding: 8px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}
